<div class="signup__step">

  <div>
    <!--  Title  -->
    <div class="auth-form__title-small">
      {{"register.goal-step.title" | translate}}
    </div>

    <!--  Form  -->
    <div class="auth-form goal-form">
      <div>
        <button class="btn-accent btn-big btn-width-up" (click)="selectGoal(UserGoal.HEALTH)">
          {{"register.goal-step.health" | translate}}
        </button>
      </div>
      <div>
        <button class="btn-accent btn-big btn-width-up" (click)="selectGoal(UserGoal.LOSE_WEIGHT)">
          {{"register.goal-step.lose" | translate}}
        </button>
      </div>
      <div>
        <button class="btn-accent btn-big btn-width-up" (click)="selectGoal(UserGoal.GAIN_WEIGHT)">
          {{"register.goal-step.gain" | translate}}
        </button>
      </div>
    </div>
  </div>

</div>
