<div class="signup__step" >

 <div>
   <!--  Title  -->
   <div class="auth-form__title-small">
     What is your goal?
   </div>

   <!--  Form  -->
   <div class="auth-form weight-form">
     <div>
       <button class="btn-accent btn-big btn-width-up" (click)="selectGoal(UserGoal.HEALTH)">
         Be Healthier
       </button>
     </div>
     <div>
       <button class="btn-accent btn-big btn-width-up" (click)="selectGoal(UserGoal.LOSE_WEIGHT)">
         Lose Weight
       </button>
     </div>
     <div>
       <button class="btn-accent btn-big btn-width-up" (click)="selectGoal(UserGoal.GAIN_WEIGHT)">
         Gain Weight
       </button>
     </div>
   </div>
 </div>

</div>
