<div class="signup__step" fxLayoutAlign="center center">

  <div>
    <!--  Title  -->
    <div class="auth-form__title-small">
      What is your gender?
    </div>

    <!--  Form  -->
    <div class="auth-form gender-form">
      <div>
        <button class="btn-accent btn-big btn-width-up btn-gender" (click)="selectGender(Gender.MALE)">
          Male
        </button>
        <button class="btn-accent btn-big btn-width-up btn-gender" (click)="selectGender(Gender.FEMALE)">
          Female
        </button>
      </div>
    </div>
  </div>


</div>
