<div class="signup__step" fxLayoutAlign="center center">

  <div>
    <!--  Title  -->
    <div class="auth-form__title-small">
      {{"register.gender-step.title" | translate}}
    </div>

    <!--  Form  -->
    <div class="auth-form gender-form">
      <div>
        <button class="btn-accent btn-big btn-width-up btn-gender" (click)="selectGender(Gender.MALE)">
          {{"register.gender-step.male" | translate}}
        </button>
        <button class="btn-accent btn-big btn-width-up btn-gender" (click)="selectGender(Gender.FEMALE)">
          {{"register.gender-step.female" | translate}}
        </button>
      </div>
    </div>
  </div>


</div>
