@import "src/assets/styles/nutrix/colors"

.signup__title
  color: $primary-color
  font-size: 50px
  font-weight: bold
  text-align: center
  margin-top: 20px

.social-network__form
  margin-top: 10px

.signup__alternative
  @extend .c-secondary-text
  text-align: center
  font-size: 12px

.signup__wrapper
  margin-top: 20px

.signup__form
  //max-width: 350px
  margin-top: 20px
