<div class="stepper" [ngStyle]="{'width': 20 * step + '%'}">
</div>
<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step state="done">
    <app-weight-step></app-weight-step>
    <button (click)="next()">
      next
    </button>
  </mat-step>
  <mat-step state="done">
    <app-create-account></app-create-account>
    <button (click)="back()">
      back
    </button>
  </mat-step>
  <mat-step state="done">
    <app-create-account></app-create-account>
  </mat-step>
  <mat-step>
    <app-create-account></app-create-account>
  </mat-step>
</mat-horizontal-stepper>
